.sbContainer {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  @mixin light {
    background-color: var(--appbar-bg-light);
  }
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4));
}

.sbHeader {
  width: 100%;
  height: 70px;
  @mixin light {
    background-color: var(--appbar-bg-light);
  }
  /* border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-4)); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--mantine-font-size-md);
  font-weight: var(--mantine-font-weight-bold);
}

.mainLink {
  margin-bottom: 20px;
}

.mainLinkInner {
  display: flex;
  align-items: center;
  flex: 1;
}

.mainLinkIcon {
  margin-right: var(--mantine-spacing-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
}
