.rlayout {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  @mixin light {
    background-color: var(--mantine-color-gray-1);
  }
}

.mainContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  @mixin light {
    background-color: var(--mantine-color-gray-1);
  }
}

.player {
  height: 80px;
  width: 100%;
}
